* {
  text-align: none;
  color: black;
}
body {
  color:antiquewhite;
h1 {
  border: 2px solid black;
}
label {
  color:red;
}
}
div {
  color:yellow;
}

.myName {
  
  color: gray;
  color: red;
}

#Name {
  color: cyan;
  background-color: red;
  text-align: center;
}