* {
  text-align: none;
  color: black;
}
body {
  color:antiquewhite;
h1 {
  border-style: dashed;
}
h1{
border: 2px solid greenyellow;
  border-radius: 5px;
}

label {
  color:red;
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
}
}
label {
  margin: 70px;
  border: 1px solid #4CAF50;
}
div {
  color:yellow;
}

.myName {
  
  color: gray;
  color: red;
}

#Name {
  color: cyan;
  background-color: red;
  text-align: center;
}